# Predicting the prevalence of Diabetes from online records using 

The main goal of this assignment is to set up a machine learning framework that predicts the prevalence of a specific 
chronic disease or health risk factor from digital records of online behavior.

## Ground truth data

### Downloading the dataset

In [ ]:
https://chronicdata.cdc.gov/resource/5hnu-2c66.json

In [1]:
import pandas as pd

df = pd.read_csv("data/U.S._Chronic_Disease_Indicators__CDI_.csv")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (7,10,18,19,20,21,23,30,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head(5)

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2015,2015,AK,Alaska,YRBSS,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,...,2,ALC,ALC1_1,CrdPrev,OVERALL,OVR,NaN,NaN,NaN,NaN
1,2015,2015,AL,Alabama,YRBSS,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,...,1,ALC,ALC1_1,CrdPrev,OVERALL,OVR,NaN,NaN,NaN,NaN
2,2015,2015,AR,Arkansas,YRBSS,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,...,5,ALC,ALC1_1,CrdPrev,OVERALL,OVR,NaN,NaN,NaN,NaN
3,2015,2015,AZ,Arizona,YRBSS,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,...,4,ALC,ALC1_1,CrdPrev,OVERALL,OVR,NaN,NaN,NaN,NaN
4,2015,2015,CA,California,YRBSS,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,...,6,ALC,ALC1_1,CrdPrev,OVERALL,OVR,NaN,NaN,NaN,NaN

In [2]:
unique_topics = list(set(df["Topic"]))
unique_topics

['Nutrition, Physical Activity, and Weight Status',
 'Alcohol',
 'Disability',
 'Overarching Conditions',
 'Asthma',
 'Cancer',
 'Chronic Kidney Disease',
 'Arthritis',
 'Diabetes',
 'Tobacco',
 'Reproductive Health',
 'Oral Health',
 'Mental Health',
 'Immunization',
 'Cardiovascular Disease',
 'Chronic Obstructive Pulmonary Disease',
 'Older Adults']

In [13]:
df_diabetes = df[df.Topic=="Diabetes"]
df_diabetes.to_csv("data/US_diabetes.csv")

In [14]:
set(df_diabetes.DataSource)

{'BRFSS', 'Birth Certificate, NVSS', 'NVSS', 'PRAMS', 'State Inpatient Data'}

### Type of questions with prevalence in name

In [29]:
questions = dict(enumerate(sorted(list(set(df_diabetes.Question)))))
questions

{0: 'Adults with diagnosed diabetes aged >= 18 years who have taken a diabetes self-management course',
 1: 'Amputation of a lower extremity attributable to diabetes',
 2: 'Diabetes prevalence among women aged 18-44 years',
 3: 'Dilated eye examination among adults aged >= 18 years with diagnosed diabetes',
 4: 'Foot examination among adults aged >= 18 years with diagnosed diabetes',
 5: 'Glycosylated hemoglobin measurement among adults aged >= 18 years with diagnosed diabetes',
 6: 'Hospitalization with diabetes as a listed diagnosis',
 7: 'Influenza vaccination among noninstitutionalized adults aged 18-64 years with diagnosed diabetes',
 8: 'Influenza vaccination among noninstitutionalized adults aged >= 65 years with diagnosed diabetes',
 9: 'Mortality due to diabetes reported as any listed cause of death',
 10: 'Mortality with diabetic ketoacidosis reported as any listed cause of death',
 11: 'Pneumococcal vaccination among noninstitutionalized adults aged 18-64 years with diagnosed diabetes',
 12: 'Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with diagnosed diabetes',
 13: 'Prevalence of depressive disorders among adults aged >= 18 years with diagnosed diabetes',
 14: 'Prevalence of diagnosed diabetes among adults aged >= 18 years',
 15: 'Prevalence of gestational diabetes',
 16: 'Prevalence of high blood pressure among adults aged >= 18 years with diagnosed diabetes',
 17: 'Prevalence of high cholesterol among adults aged >= 18 years with diagnosed diabetes',
 18: 'Prevalence of pre-pregnancy diabetes',
 19: 'Visits to dentist or dental clinic among adults aged >= 18 years with diagnosed diabetes'}

## Type of Data Values

In [16]:
data_values = set(df_diabetes.DataValueType)
data_values

{'Age-adjusted Prevalence',
 'Age-adjusted Rate',
 'Crude Prevalence',
 'Crude Rate',
 'Number',
 'Prevalence'}

In [28]:
df_diabetes[(df_diabetes.LocationDesc == "Wyoming")&(df_diabetes.StratificationCategory1 == "Overall")&(df_diabetes.YearStart == 2013)&(df_diabetes.DataValueType == "Age-adjusted Prevalence")&(df_diabetes.Question == questions[0])]

Empty DataFrame
Columns: [YearStart, YearEnd, LocationAbbr, LocationDesc, DataSource, Topic, Question, Response, DataValueUnit, DataValueType, DataValue, DataValueAlt, DataValueFootnoteSymbol, DatavalueFootnote, LowConfidenceLimit, HighConfidenceLimit, StratificationCategory1, Stratification1, StratificationCategory2, Stratification2, StratificationCategory3, Stratification3, GeoLocation, ResponseID, LocationID, TopicID, QuestionID, DataValueTypeID, StratificationCategoryID1, StratificationID1, StratificationCategoryID2, StratificationID2, StratificationCategoryID3, StratificationID3]
Index: []

[0 rows x 34 columns]

In [17]:
def get_prevalence_indicator(df, state, category, year, data_value, question):
    return float(df[
        (df.LocationDesc == state) & \
        (df.StratificationCategory1 == category) & \
        (df.YearStart == year) & \
        (df.DataValueType == data_value) & \
        (df.Question == question )
    ]["DataValue"].values[0])

In [30]:
get_prevalence_indicator(df=df_diabetes,
                         state="Wyoming",
                         category="Overall",
                         year=2013,
                         data_value="Age-adjusted Prevalence",
                         question = questions[14]                        
                        )

8.1